
*{
    background-color: white;
    margin: 0;
    padding: 0;
}


.header{
    display: flex;
  align-items: center;
  /* background-color: black; */
  
  width: 100%;
  /* box-shadow: 10px 10px 5px rgb(62, 63, 63); */
  padding-bottom: 20px;
  
}
.header img{
    width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-left: 40px;
    box-shadow: 10px 10px 5px rgb(62, 63, 63);
}
.nav{
    align-items: center;
    margin-left: 300px;
    padding-right: 40px;
    padding-top: 20px;
}
.nav a{
    font-size: 20px;
    padding: 14px 16px;
    color: #fe0000;
    text-decoration: none;

}
.nav a:hover{
    background-color: #fe0000;
    color: white;
    text-decoration: underline;
}

h1{
    text-align: center;
}
 /* Set a style for all buttons */
 button {
  background-color: #fe0000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.xp-bar-container {
  background-color: green;
  width: 300px;
  height: 20px;
  border: 1px solid #000;
  margin-bottom: 10px;
  position: relative;
  margin-left: 625px;
}
.container .xp-bar{
  position: absolute;
  height: 100%;
  background-color: green;
  animation: progress-animation 5s forwards;
}

#logout{
  background-color: #fe0000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
}


